@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,400&display=swap');
body
{
    font-family: 'Montserrat', sans-serif;
    
}
.container
{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 30rem;
    margin-top: 5rem;
    
}
table td{
    border:1px solid black;
    padding: 0rem 1rem;
    border-color: blue;
  }

  #caption
  {
      font-size: large;
  }

  .heading-section h1
  {
     color: blue;
  }
  #amount-for
  {
      width:300px;
      height: 50px;
     
  }
  #amount-given
  {
    width:300px;
    height: 50px;
}
  label
  {
   margin-left: 60px;
}
  
#check-button
{
    width: 200px;
    height: 40px;
    color:white;
    background-color: blue;
}